## 0. Load imports

In [18]:
## imports
import pandas as pd
import numpy as np


## print multiple things from same cell
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## 0. Load data

In [19]:
## load data on 2020 crimes in DC
df = dc_crim_2020 = pd.read_csv("https://opendata.arcgis.com/datasets/f516e0dd7b614b088ad781b0c4002331_2.csv")
dc_crim_2020.head()
dc_crim_2020.shape
dc_crim_2020.info()

,X,Y,CCN,REPORT_DAT,START_DATE,END_DATE,BLOCK,OFFENSE,METHOD,SHIFT,...,BLOCK_GROUP,CENSUS_TRACT,VOTING_PRECINCT,BID,XBLOCK,YBLOCK,LATITUDE,LONGITUDE,OBJECTID,OCTO_RECORD_ID
0,396168.0,137533.0,11139598,2020/08/24 04:00:00+00,2011/09/23 06:40:00+00,NaN,1900 - 1999 BLOCK OF M STREET NW,HOMICIDE,OTHERS,MIDNIGHT,...,010700 1,10700.0,Precinct 17,GOLDEN TRIANGLE,396168.0,137533.0,38.905646,-77.044180,869758363,NaN
1,402374.0,132186.0,10251445,2020/09/11 04:00:00+00,2010/09/02 04:00:00+00,2010/09/02 04:00:00+00,2300 - 2399 BLOCK OF AINGER PLACE SE,HOMICIDE,GUN,MIDNIGHT,...,007502 1,7502.0,Precinct 134,NaN,402374.0,132186.0,38.857483,-76.972648,869758366,NaN
2,402411.0,131808.0,10147537,2020/12/21 05:00:00+00,2010/10/10 02:00:00+00,NaN,2300 - 2499 BLOCK OF HARTFORD STREET SE,HOMICIDE,OTHERS,MIDNIGHT,...,007408 2,7408.0,Precinct 115,NaN,402411.0,131808.0,38.854078,-76.972223,869758368,NaN
3,397330.0,138223.0,16641,2020/01/28 05:14:39+00,2020/01/28 05:14:58+00,2020/01/28 05:15:02+00,1300 - 1399 BLOCK OF CORCORAN STREET NW,THEFT F/AUTO,OTHERS,MIDNIGHT,...,005001 2,5001.0,Precinct 16,NaN,397330.0,138223.0,38.911866,-77.030785,869758371,NaN
4,399848.0,128205.0,18048023,2020/10/21 04:00:00+00,2018/03/26 08:40:06+00,2018/03/26 10:04:44+00,4600 - 4799 BLOCK OF SOUTH CAPITOL STREET,HOMICIDE,OTHERS,MIDNIGHT,...,009811 1,9811.0,Precinct 125,NaN,399848.0,128205.0,38.821624,-77.001750,869778493,NaN

(27931, 25)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27931 entries, 0 to 27930
Data columns (total 25 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   X                     27931 non-null  float64
 1   Y                     27931 non-null  float64
 2   CCN                   27931 non-null  int64
 3   REPORT_DAT            27931 non-null  object
 4   START_DATE            27931 non-null  object
 5   END_DATE              24850 non-null  object
 6   BLOCK                 27931 non-null  object
 7   OFFENSE               27931 non-null  object
 8   METHOD                27931 non-null  object
 9   SHIFT                 27931 non-null  object
 10  WARD                  27931 non-null  int64
 11  ANC                   27931 non-null  object
 12  DISTRICT              27902 non-null  float64
 13  PSA                   27896 non-null  float64
 14  NEIGHBORHOOD_CLUSTER  27931 non-null  object
 15  BLOCK_GROUP           27930 non-null  object
 16  CENSUS_TRACT          27930 non-null  float64
 17  VOTING_PRECINCT       27931 non-null  object
 18  BID                   4658 non-null   object
 19  XBLOCK                27931 non-null  float64
 20  YBLOCK                27931 non-null  float64
 21  LATITUDE              27931 non-null  float64
 22  LONGITUDE             27931 non-null  float64
 23  OBJECTID              27931 non-null  int64
 24  OCTO_RECORD_ID        0 non-null      float64
dtypes: float64(10), int64(3), object(12)
memory usage: 5.3+ MB

In [20]:
a = [1,2,3]
b = ["a","b","c"]

In [21]:
fake_dict = dict( zip(a,b) )

fake_dict[1]

'a'

In [22]:
"QSS" in "QSS20"

True

In [23]:
list_classes = ["QSS20", "QSS17", "QSS45", "ECON1", "CS31", "CS74"]

In [24]:
empty_list = []
for c in list_classes:
    if "QSS" in c:
        empty_list.append(c)
        
empty_list

['QSS20', 'QSS17', 'QSS45']

In [25]:
[ c for c in list_classes if "QSS" in c  ]

['QSS20', 'QSS17', 'QSS45']

#### Warm-up: Ways to add 100 to column X

## 1. Aggregation

### Example of grouping by one variable and doing one aggregation 

**Task**: find and print the number of unique offense types (`OFFENSE`) by ward (`WARD`)

In [62]:
df.groupby("WARD")["OFFENSE"].nunique().reset_index()

   WARD  OFFENSE
0     1        9
1     2        9
2     3        8
3     4        8
4     5        9
5     6        9
6     7        9
7     8        9

### Example of grouping by one variable and providing two summaries of the same variable

**Task**: previous showed number of offenses by ward but want to find out content of offenses in each ward; create an aggregation that summarizes both the number of unique offenses by ward and what those offenses are -- for instance, by pasting the unique offenses in that ward separated by the ";" (e.g., Theft; Burglary;...)

*Hint*: you can use the join command to paste together a list separated by some delimiter. 
    - The syntax, if we are using the comma delimiter, is: ", ".join(nameoflist)

In [67]:
def jointext(s):
    return ",".join(s.unique())

In [ ]:
df.groupby("WARD")["OFFENSE"].agg(
    unique_offenses="nunique",
    type_of_offense=jointext
)

      unique_offenses                                    type_of_offense
WARD
1                   9  ROBBERY,THEFT F/AUTO,THEFT/OTHER,ASSAULT W/DAN...
2                   9  HOMICIDE,THEFT F/AUTO,SEX ABUSE,THEFT/OTHER,RO...
3                   8  THEFT/OTHER,THEFT F/AUTO,BURGLARY,ROBBERY,MOTO...
4                   8  THEFT F/AUTO,THEFT/OTHER,ROBBERY,MOTOR VEHICLE...
5                   9  ASSAULT W/DANGEROUS WEAPON,THEFT/OTHER,MOTOR V...
6                   9  THEFT F/AUTO,ROBBERY,THEFT/OTHER,MOTOR VEHICLE...
7                   9  THEFT F/AUTO,ROBBERY,THEFT/OTHER,MOTOR VEHICLE...
8                   9  HOMICIDE,SEX ABUSE,THEFT/OTHER,THEFT F/AUTO,RO...

### Example of grouping by two variables 

**Task**: group by ward (`WARD`) and police shift (`SHIFT`) and find the offense that is most common in that ward and shift

In [74]:
df.groupby(["WARD", "SHIFT"])["OFFENSE"]

## Summarizing over all rows or all columns (without grouping)

We can also use the `apply` function to summarize rows or columns efficiently

**Task**: find the mean lat and longitude in one line of code

## 2. Creating new columns/transforming their type

### Simple filtering


But there is a built in pandas way to emulate this.

**Task**: create an indicator `is_theft` for any offense that contains the word "THEFT"
    
**Task**: create an indicator `is_theft_notmotor` for any offense that contains the word "THEFT" but does not contain the word "MOTOR"

### np.select

**Task**: create a new variable, `offense_summary`, where you:
        
- Recode theft offenses that use a gun or knife as the method (`METHOD`) as: violent theft
- Recode non-theft offenses that use a gun or knife as the method as: violent other
- Recode all other as non-violent

### map.recode

**Task**: recode shifts that are MIDNIGHT or EVENING as "nighttime"; code other shift to daytime

### Using built-in pandas methods

Another way of creating variables, used either alone or in combination with np.where and np.select is to use pandas built in `str` methods

Basic structure is: `df['namestringcol'].str.someoperation`

**Task**: using a `str` method, create a new column--`OFFENSE_NOSP`--that replaces spaces in the `OFFENSE` column with underscores

### Transforming column types

**Task**: check the type of the `START_DATE` column

**Task**: recast the `START_DATE` column to datetime, calling this `START_DATE_CLEAN`; coerce errors rather than cleaning the string; check the type of that new col

**Task:** print the min and max of `START_DATE_CLEAN`. What happens if you try to do this with `START_DATE`?

## 3. Row and column filtering

### Row subsetting

**Task**: filter to crime reports about theft using the `is_theft` definition and that are in ward 3

### Column subsetting

**Task**: select two columns--`START_DATE` and `END_DATE`--and print the head of the dataframe

**Task**: use list comprehension to automate this a bit and select all columns with the word "DATE" in the name; print the head of the dataframe

**Task**: filter reports of crime in `START_DATE_CLEAN` before May 2020 and that are located in ward 1; select the ward and `START_DATE` column and print a random sample of rows