# Lecture 2 – Python Basics

In [1]:
# Imports
import pandas as pd
import numpy as np

import plotly.express as px
import matplotlib.pyplot as plt
plt.style.use('ggplot')

## Demo

### _Little Women_ (1868)

- _Little Women_, by Louisa May Alcott, is a novel that follows the life of four sisters – Meg, Jo, Beth, and Amy.
    - A movie based on the novel was released in 2019, starring Emma Watson (Meg) and Timothée Chalamet (Laurie).
- Using tools from this class, we'll learn (a bit) about the plot of the book, without reading it.
- Do not worry about any of this code – we'll cover the necessary pieces in the weeks to come. Sit back and relax!

In [2]:
# Read in 'lw.txt' to a variable called little_women_text.
little_women_text = open('data/lw.txt').read()

In [3]:
# See the first three thousand characters.
little_women_text[:3000]

'The Project Gutenberg EBook of Little Women, by Louisa May Alcott\n\nThis eBook is for the use of anyone anywhere at no cost and with\nalmost no restrictions whatsoever.  You may copy it, give it away or\nre-use it under the terms of the Project Gutenberg License included\nwith this eBook or online at www.gutenberg.net\n\n\nTitle: Little Women\n\nAuthor: Louisa May Alcott\n\nPosting Date: September 13, 2008 [EBook #514]\nRelease Date: May, 1996\n[This file last updated on August 19, 2010]\n\nLanguage: English\n\n\n*** START OF THIS PROJECT GUTENBERG EBOOK LITTLE WOMEN ***\n\n\n\n\nLITTLE WOMEN\n\n\nby\n\nLouisa May Alcott\n\n\n\n\nCONTENTS\n\n\nPART 1\n\n          ONE  PLAYING PILGRIMS\n          TWO  A MERRY CHRISTMAS\n        THREE  THE LAURENCE BOY\n         FOUR  BURDENS\n         FIVE  BEING NEIGHBORLY\n          SIX  BETH FINDS THE PALACE BEAUTIFUL\n        SEVEN  AMY\'S VALLEY OF HUMILIATION\n        EIGHT  JO MEETS APOLLYON\n         NINE  MEG GOES TO VANITY FAIR\n          TEN  THE P.C. AND P.O.\n       ELEVEN  EXPERIMENTS\n       TWELVE  CAMP LAURENCE\n     THIRTEEN  CASTLES IN THE AIR\n     FOURTEEN  SECRETS\n      FIFTEEN  A TELEGRAM\n      SIXTEEN  LETTERS\n    SEVENTEEN  LITTLE FAITHFUL\n     EIGHTEEN  DARK DAYS\n     NINETEEN  AMY\'S WILL\n       TWENTY  CONFIDENTIAL\n   TWENTY-ONE  LAURIE MAKES MISCHIEF, AND JO MAKES PEACE\n   TWENTY-TWO  PLEASANT MEADOWS\n TWENTY-THREE  AUNT MARCH SETTLES THE QUESTION\n\n\nPART 2\n\n  TWENTY-FOUR  GOSSIP\n  TWENTY-FIVE  THE FIRST WEDDING\n   TWENTY-SIX  ARTISTIC ATTEMPTS\n TWENTY-SEVEN  LITERARY LESSONS\n TWENTY-EIGHT  DOMESTIC EXPERIENCES\n  TWENTY-NINE  CALLS\n       THIRTY  CONSEQUENCES\n   THIRTY-ONE  OUR FOREIGN CORRESPONDENT\n   THIRTY-TWO  TENDER TROUBLES\n THIRTY-THREE  JO\'S JOURNAL\n  THIRTY-FOUR  FRIEND\n  THIRTY-FIVE  HEARTACHE\n   THIRTY-SIX  BETH\'S SECRET\n THIRTY-SEVEN  NEW IMPRESSIONS\n THIRTY-EIGHT  ON THE SHELF\n  THIRTY-NINE  LAZY LAURENCE\n        FORTY  THE VALLEY OF THE SHADOW\n    FORTY-ONE  LEARNING TO FORGET\n    FORTY-TWO  ALL ALONE\n  FORTY-THREE  SURPRISES\n   FORTY-FOUR  MY LORD AND LADY\n   FORTY-FIVE  DAISY AND DEMI\n    FORTY-SIX  UNDER THE UMBRELLA\n  FORTY-SEVEN  HARVEST TIME\n\n\n\nCHAPTER ONE\n\nPLAYING PILGRIMS\n\n"Christmas won\'t be Christmas without any presents," grumbled Jo, lying\non the rug.\n\n"It\'s so dreadful to be poor!" sighed Meg, looking down at her old\ndress.\n\n"I don\'t think it\'s fair for some girls to have plenty of pretty\nthings, and other girls nothing at all," added little Amy, with an\ninjured sniff.\n\n"We\'ve got Father and Mother, and each other," said Beth contentedly\nfrom her corner.\n\nThe four young faces on which the firelight shone brightened at the\ncheerful words, but darkened again as Jo said sadly, "We haven\'t got\nFather, and shall not have him for a long time." She didn\'t say\n"perhaps never," but each silently added it, thinking of Father far\naway, where the fighting was.\n\nNobody spoke for a minute; then Meg said in an altered tone, "You know\nthe reason Mother proposed not having any presents this Christmas was\nbecause it is going to b'

In [4]:
# Print the first three thousand characters.
print(little_women_text[:3000])

The Project Gutenberg EBook of Little Women, by Louisa May Alcott

This eBook is for the use of anyone anywhere at no cost and with
almost no restrictions whatsoever.  You may copy it, give it away or
re-use it under the terms of the Project Gutenberg License included
with this eBook or online at www.gutenberg.net


Title: Little Women

Author: Louisa May Alcott

Posting Date: September 13, 2008 [EBook #514]
Release Date: May, 1996
[This file last updated on August 19, 2010]

Language: English


*** START OF THIS PROJECT GUTENBERG EBOOK LITTLE WOMEN ***




LITTLE WOMEN


by

Louisa May Alcott




CONTENTS


PART 1

          ONE  PLAYING PILGRIMS
          TWO  A MERRY CHRISTMAS
        THREE  THE LAURENCE BOY
         FOUR  BURDENS
         FIVE  BEING NEIGHBORLY
          SIX  BETH FINDS THE PALACE BEAUTIFUL
        SEVEN  AMY'S VALLEY OF HUMILIATION
        EIGHT  JO MEETS APOLLYON
         NINE  MEG GOES TO VANITY FAIR
          TEN  THE P.C. AND P.O.
       ELEVEN  EXPERIMENTS
       TWELVE  CAMP LAURENCE
     THIRTEEN  CASTLES IN THE AIR
     FOURTEEN  SECRETS
      FIFTEEN  A TELEGRAM
      SIXTEEN  LETTERS
    SEVENTEEN  LITTLE FAITHFUL
     EIGHTEEN  DARK DAYS
     NINETEEN  AMY'S WILL
       TWENTY  CONFIDENTIAL
   TWENTY-ONE  LAURIE MAKES MISCHIEF, AND JO MAKES PEACE
   TWENTY-TWO  PLEASANT MEADOWS
 TWENTY-THREE  AUNT MARCH SETTLES THE QUESTION


PART 2

  TWENTY-FOUR  GOSSIP
  TWENTY-FIVE  THE FIRST WEDDING
   TWENTY-SIX  ARTISTIC ATTEMPTS
 TWENTY-SEVEN  LITERARY LESSONS
 TWENTY-EIGHT  DOMESTIC EXPERIENCES
  TWENTY-NINE  CALLS
       THIRTY  CONSEQUENCES
   THIRTY-ONE  OUR FOREIGN CORRESPONDENT
   THIRTY-TWO  TENDER TROUBLES
 THIRTY-THREE  JO'S JOURNAL
  THIRTY-FOUR  FRIEND
  THIRTY-FIVE  HEARTACHE
   THIRTY-SIX  BETH'S SECRET
 THIRTY-SEVEN  NEW IMPRESSIONS
 THIRTY-EIGHT  ON THE SHELF
  THIRTY-NINE  LAZY LAURENCE
        FORTY  THE VALLEY OF THE SHADOW
    FORTY-ONE  LEARNING TO FORGET
    FORTY-TWO  ALL ALONE
  FORTY-THREE  SURPRISES
   FORTY-FOUR  MY LORD AND LADY
   FORTY-FIVE  DAISY AND DEMI
    FORTY-SIX  UNDER THE UMBRELLA
  FORTY-SEVEN  HARVEST TIME



CHAPTER ONE

PLAYING PILGRIMS

"Christmas won't be Christmas without any presents," grumbled Jo, lying
on the rug.

"It's so dreadful to be poor!" sighed Meg, looking down at her old
dress.

"I don't think it's fair for some girls to have plenty of pretty
things, and other girls nothing at all," added little Amy, with an
injured sniff.

"We've got Father and Mother, and each other," said Beth contentedly
from her corner.

The four young faces on which the firelight shone brightened at the
cheerful words, but darkened again as Jo said sadly, "We haven't got
Father, and shall not have him for a long time." She didn't say
"perhaps never," but each silently added it, thinking of Father far
away, where the fighting was.

Nobody spoke for a minute; then Meg said in an altered tone, "You know
the reason Mother proposed not having any presents this Christmas was
because it is going to b

In [5]:
# Create a variable "chapters" by splitting the text on 'CHAPTER '.
chapters = little_women_text.split('CHAPTER ') 

# Create a DataFrame with one column - the text of each chapters.
pd.DataFrame().assign(chapters=chapters)

                                             chapters
0   The Project Gutenberg EBook of Little Women, b...
1   ONE\n\nPLAYING PILGRIMS\n\n"Christmas won't be...
2   TWO\n\nA MERRY CHRISTMAS\n\nJo was the first t...
3   THREE\n\nTHE LAURENCE BOY\n\n"Jo!  Jo!  Where ...
4   FOUR\n\nBURDENS\n\n"Oh, dear, how hard it does...
5   FIVE\n\nBEING NEIGHBORLY\n\n"What in the world...
6   SIX\n\nBETH FINDS THE PALACE BEAUTIFUL\n\nThe ...
7   SEVEN\n\nAMY'S VALLEY OF HUMILIATION\n\n"That ...
8   EIGHT\n\nJO MEETS APOLLYON\n\n"Girls, where ar...
9   NINE\n\nMEG GOES TO VANITY FAIR\n\n"I do think...
10  TEN\n\nTHE P.C. AND P.O.\n\nAs spring came on,...
11  ELEVEN\n\nEXPERIMENTS\n\n"The first of June!  ...
12  TWELVE\n\nCAMP LAURENCE\n\nBeth was postmistre...
13  THIRTEEN\n\nCASTLES IN THE AIR\n\nLaurie lay l...
14  FOURTEEN\n\nSECRETS\n\nJo was very busy in the...
15  FIFTEEN\n\nA TELEGRAM\n\n"November is the most...
16  SIXTEEN\n\nLETTERS\n\nIn the cold gray dawn th...
17  SEVENTEEN\n\nLITTLE FAITHFUL\n\nFor a week the...
18  EIGHTEEN\n\nDARK DAYS\n\nBeth did have the fev...
19  NINETEEN\n\nAMY'S WILL\n\nWhile these things w...
20  TWENTY\n\nCONFIDENTIAL\n\nI don't think I have...
21  TWENTY-ONE\n\nLAURIE MAKES MISCHIEF, AND JO MA...
22  TWENTY-TWO\n\nPLEASANT MEADOWS\n\nLike sunshin...
23  TWENTY-THREE\n\nAUNT MARCH SETTLES THE QUESTIO...
24  TWENTY-FOUR\n\nGOSSIP\n\nIn order that we may ...
25  TWENTY-FIVE\n\nTHE FIRST WEDDING\n\nThe June r...
26  TWENTY-SIX\n\nARTISTIC ATTEMPTS\n\nIt takes pe...
27  TWENTY-SEVEN\n\nLITERARY LESSONS\n\nFortune su...
28  TWENTY-EIGHT\n\nDOMESTIC EXPERIENCES\n\nLike m...
29  TWENTY-NINE\n\nCALLS\n\n"Come, Jo, it's time."...
30  THIRTY\n\nCONSEQUENCES\n\nMrs. Chester's fair ...
31  THIRTY-ONE\n\nOUR FOREIGN CORRESPONDENT\n\nLon...
32  THIRTY-TWO\n\nTENDER TROUBLES\n\n"Jo, I'm anxi...
33  THIRTY-THREE\n\nJO'S JOURNAL\n\nNew York, Nove...
34  THIRTY-FOUR\n\nFRIEND\n\nThough very happy in ...
35  THIRTY-FIVE\n\nHEARTACHE\n\nWhatever his motiv...
36  THIRTY-SIX\n\nBETH'S SECRET\n\nWhen Jo came ho...
37  THIRTY-SEVEN\n\nNEW IMPRESSIONS\n\nAt three o'...
38  THIRTY-EIGHT\n\nON THE SHELF\n\nIn France the ...
39  THIRTY-NINE\n\nLAZY LAURENCE\n\nLaurie went to...
40  FORTY\n\nTHE VALLEY OF THE SHADOW\n\nWhen the ...
41  FORTY-ONE\n\nLEARNING TO FORGET\n\nAmy's lectu...
42  FORTY-TWO\n\nALL ALONE\n\nIt was easy to promi...
43  FORTY-THREE\n\nSURPRISES\n\nJo was alone in th...
44  FORTY-FOUR\n\nMY LORD AND LADY\n\n"Please, Mad...
45  FORTY-FIVE\n\nDAISY AND DEMI\n\nI cannot feel ...
46  FORTY-SIX\n\nUNDER THE UMBRELLA\n\nWhile Lauri...
47  FORTY-SEVEN\n\nHARVEST TIME\n\nFor a year Jo a...

In [6]:
# Number of occurrences of each name in each chapter.

counts = pd.DataFrame().assign(
    Amy=np.char.count(chapters, 'Amy'),
    Beth=np.char.count(chapters, 'Beth'),
    Jo=np.char.count(chapters, 'Jo'),
    Meg=np.char.count(chapters, 'Meg'),
    Laurie=np.char.count(chapters, 'Laurie'),
)
counts

    Amy  Beth  Jo  Meg  Laurie
0     0     0   0    0       0
1    23    26  44   26       0
2    13    12  21   20       0
3     2     2  62   36      16
4    14    18  34   17       0
5     6    14  55   13      35
6     6    28  13    5       9
7    27     5   9    5       7
8    48     9  71   16      17
9     3     5  21   71      24
10    5     5  12    4       4
11   17    20  42   24      11
12   11    20  60   41      31
13    8    13  24   21      27
14    6     5  48   21      21
15    8    12  26   18       8
16    7     9  13   15       9
17   19    29  29   21      12
18    3    30  35   14      22
19   30     7   5    1      16
20    9     7  29   25       5
21    2     1  67   31      26
22    9    15  17    9       8
23    7     6  51   56      11
24   15     9  36   29      20
25    7     6  12   15      11
26   37     5  17    5       5
27    3     4  28    2       0
28    3     0  69   52      11
29   46     1  49    2       3
30   57     5  39    0      12
31    5     3   7    1       3
32    7    33  60    3      21
33    5     6   2    1       1
34    0     2  55    0       2
35    0     3  42    2      34
36    3    37  35    3       3
37   31     1   5    0      26
38    0     0  47   40       0
39   45     1  15    1      33
40    1    21  15    1       0
41   33     7  17    0      34
42    7     9  36    3       4
43   31     8  61    3      29
44   13     0   9    0      10
45    1     2   6    2       0
46    2     1  56    4       2
47   10     3  37    6      13

In [7]:
# Cumulative number of times each name appears.

cumulative_counts = pd.DataFrame().assign(
    Amy=np.cumsum(counts.get('Amy')),
    Beth=np.cumsum(counts.get('Beth')),
    Jo=np.cumsum(counts.get('Jo')),
    Meg=np.cumsum(counts.get('Meg')),
    Laurie=np.cumsum(counts.get('Laurie')),
    Chapter=np.arange(1, 49, 1)
)

cumulative_counts

    Amy  Beth    Jo  Meg  Laurie  Chapter
0     0     0     0    0       0        1
1    23    26    44   26       0        2
2    36    38    65   46       0        3
3    38    40   127   82      16        4
4    52    58   161   99      16        5
5    58    72   216  112      51        6
6    64   100   229  117      60        7
7    91   105   238  122      67        8
8   139   114   309  138      84        9
9   142   119   330  209     108       10
10  147   124   342  213     112       11
11  164   144   384  237     123       12
12  175   164   444  278     154       13
13  183   177   468  299     181       14
14  189   182   516  320     202       15
15  197   194   542  338     210       16
16  204   203   555  353     219       17
17  223   232   584  374     231       18
18  226   262   619  388     253       19
19  256   269   624  389     269       20
20  265   276   653  414     274       21
21  267   277   720  445     300       22
22  276   292   737  454     308       23
23  283   298   788  510     319       24
24  298   307   824  539     339       25
25  305   313   836  554     350       26
26  342   318   853  559     355       27
27  345   322   881  561     355       28
28  348   322   950  613     366       29
29  394   323   999  615     369       30
30  451   328  1038  615     381       31
31  456   331  1045  616     384       32
32  463   364  1105  619     405       33
33  468   370  1107  620     406       34
34  468   372  1162  620     408       35
35  468   375  1204  622     442       36
36  471   412  1239  625     445       37
37  502   413  1244  625     471       38
38  502   413  1291  665     471       39
39  547   414  1306  666     504       40
40  548   435  1321  667     504       41
41  581   442  1338  667     538       42
42  588   451  1374  670     542       43
43  619   459  1435  673     571       44
44  632   459  1444  673     581       45
45  633   461  1450  675     581       46
46  635   462  1506  679     583       47
47  645   465  1543  685     596       48

In [8]:
df = cumulative_counts.drop(columns=['Chapter']).melt().rename(columns={'variable': 'name', 'value': 'Count'})
df.assign(Chapter=list(range(1, 49)) * 5)

       name  Count  Chapter
0       Amy      0        1
1       Amy     23        2
2       Amy     36        3
3       Amy     38        4
4       Amy     52        5
..      ...    ...      ...
235  Laurie    571       44
236  Laurie    581       45
237  Laurie    581       46
238  Laurie    583       47
239  Laurie    596       48

[240 rows x 3 columns]

In [9]:
# Putting it all together, we get a helpful visualization.
cumulative_counts_df = cumulative_counts.drop(columns=['Chapter']).melt().rename(columns={'variable': 'name', 'value': 'Count'})
cumulative_counts_df = cumulative_counts_df.assign(Chapter=list(range(1, 49)) * 5)
px.line(cumulative_counts_df, x='Chapter', y='Count', color='name', width=900, height=600, title='Cumulative Number of Times Each Name Appears', template='ggplot2').show()

### Jupyter Notebooks 📓

- Often, code is written in a text editor and then run in a command-line interface (or both steps are done in an IDE).

<center>
<img src='images/terminal.png' width=800>
</center>

- **Jupyter Notebooks** allow us to write and run code within a single document. They also allow us to embed text (in Markdown format) and code.

## Expressions

- An **expression** is a combination of values, operators, and functions that **evaluates** to some **value**.

- For now, let's think of Python like a calculator – it takes expressions and evaluates them.

- We will enter our expressions in **code cells**. To run a code cell, either:
    - **Hit `shift` + `enter` (or `shift` + `return`) on your keyboard (strongly preferred)**, or
    - Press the "▶ Run" button in the toolbar.

In [10]:
23

23

In [11]:
-15 + 2.718

-12.282

In [12]:
4 ** 3

64

In [13]:
(2 + 3 + 4) / 3

3.0

In [14]:
# Only one value is displayed. Why?
9 + 10
13 / 4
21

21

### Arithmetic operations

| Operation | Operator | Example | Value | 
| --- | --- | --- | --- |
| Addition | `+` | `2 + 3` | `5` |
| Subtraction | `-` | `2 - 3` | `-1` |
| Multiplication | `*` | `2 * 3` | `6` |
| Division | `/` | `7 / 3` | `2.66667` |
| Remainder | `%` | `7 % 3` | `1` |
| Exponentiation | `**` | `2 ** 0.5` | `1.41421` |

### Python uses the typical order of operations – PEMDAS

- P arentheses (and other grouping symbols)
- E xponents
- MD Multiplication and Division
- AS Addition and Subtraction

In [15]:
5 * 2 ** 3

40

In [16]:
(5 * 2) ** 3

1000

## Variables

### Motivation

Below, we compute the number of seconds in a year.

In [17]:
60 * 60 * 24 * 365

31536000

If we want to use the above value later in our notebook to find, say, the number of seconds in 12 years, we'd have to copy-and-paste the expression. **This is inconvenient, and prone to introducing errors.**

In [18]:
60 * 60 * 24 * 365 * 12

378432000

It would be great if we could **store** the initial value and refer to it later on!

### Variables and assignment statements

- A **variable** is a place to store a value so that it can be referred to later in our code. To define a variable, we use an **assignment statement**.

$$ \overbrace{\texttt{zebra}}^{\text{name}} = \overbrace{\texttt{23 - 14}}^{\text{any expression}} $$

-  An assignment statement changes the meaning of the **name** to the left of the `=` symbol.

- The expression on the right-hand side of the `=` symbol is evaluated before being assigned to the name on the left-hand side.
    * e.g. `zebra` is bound to `9` (value) not `23 - 14` (expression).

### Think of variable names as nametags!

In [19]:
# Note: This is an assignment statement, not an expression.
# Assignment statements don't output anything!
a = 1

In [20]:
a = 2

In [21]:
b = 2

### Naming variables

- Give your variables helpful names so that you know what they refer to.
- Variable names can contain uppercase and lowercase characters, the digits 0-9, and underscores.
    - They cannot start with a number.
    - They are case sensitive!

The following assignment statements are **valid**, but use **poor** variable names 😕.

In [22]:
six = 15

In [23]:
i_45love_chocolate_9999 = 60 * 60 * 24 * 365

The following assignment statements are **valid**, and use **good** variable names ✅.

In [24]:
seconds_per_hour = 60 * 60
hours_per_year = 24 * 365
seconds_per_year = seconds_per_hour * hours_per_year

### Python functions

- Functions in Python work the same way functions in math do.
- The inputs to functions are called **arguments**.
- Python comes with a number of built-in functions that we are free to use.
- **Calling** a function, or using a function, means asking the function to "run its recipe" on the given input.

In [25]:
abs(-23)

23

### Some functions can take a variable number of arguments

In [26]:
max(4, -8)

4

In [27]:
max(2, -3, -6, 10, -4)

10

In [28]:
max(9)

TypeError: 'int' object is not iterable

In [29]:
max(9 + 10, 9 - 10)

19

### Put ```?``` after a function's name to see its documentation 📄

Or use the `help` function, e.g. `help(round)`.

In [30]:
round(1.45678)

1

In [31]:
round?

Signature: round(number, ndigits=None)
Docstring:
Round a number to a given precision in decimal digits.

The return value is an integer if ndigits is omitted or None.  Otherwise
the return value has the same type as the number.  ndigits may be negative.
Type:      builtin_function_or_method

In [32]:
round(1.45678, 3)

1.457

### Nested evaluation

We can **nest** many function calls to evaluate sophisticated expressions.

In [33]:
min(abs(max(-1, -2, -3, min(4, -2))), max(5, 100))

1

### Import statements
- Python doesn't have everything we need built in.
- In order to gain additional functionality, we import **modules** through **import statements**.
- **Modules** are collections of Python functions and values.
- Call these functions using the syntax `module.function()`, called "dot notation".

### Example: `import math`

Some of the many functions built into the `math` module are `sqrt`, `pow`, and `log`.

In [34]:
import math

In [35]:
math.sqrt(16)

4.0

In [36]:
math.pow(2, 5)

32.0

`math` also has constants built in!

In [37]:
math.pi

3.141592653589793

## Data types

### What's the difference? 🧐

In [38]:
4 / 2

2.0

In [39]:
5 - 3

2

To us, `2.0` and `2` are the same number, $2$. But to Python, these appear to be different!

### Data types
- Every value in Python has a **type**.
    - Use the `type` function to check a value's type.
- It's important to understand how different types work with different operations, as the results may not always be what we expect.

### Two numeric data types: ```int``` and ```float``` 
- ```int```: An integer of any size.
- ```float```: A number with a decimal point.

### ```int```
- If you add (`+`), subtract (`-`), multiply (`*`), or exponentiate (`**`) `int`s, the result will be another `int`.
- `int`s have arbitrary precision in Python, meaning that your calculations will always be exact.

In [40]:
7 - 15

-8

In [41]:
type(7 - 15)

int

In [42]:
2 ** 300

2037035976334486086268445688409378161051468393665936250636140449354381299763336706183397376

In [43]:
2 ** 3000

1230231922161117176931558813276752514640713895736833715766118029160058800614672948775360067838593459582429649254051804908512884180898236823585082482065348331234959350355845017413023320111360666922624728239756880416434478315693675013413090757208690376793296658810662941824493488451726505303712916005346747908623702673480919353936813105736620402352744776903840477883651100322409301983488363802930540482487909763484098253940728685132044408863734754271212592471778643949486688511721051561970432780747454823776808464180697103083861812184348565522740195796682622205511845512080552010310050255801589349645928001133745474220715013683413907542779063759833876101354235184245096670042160720629411581502371248008430447184842098610320580417992206662247328722122088513643683907670360209162653670641130936997002170500675501374723998766005827579300723253474890612250135171889174899079911291512399773872178519018229989376

### ```float```
* A `float` is specified using a **decimal** point.
* A `float` might be printed using scientific notation.

In [44]:
3.2 + 2.5

5.7

In [45]:
type(3.2 + 2.5)

float

In [46]:
# The result is in scientific notation: e+90 means "times 10^90".
2.0 ** 300

2.037035976334486e+90

### The pitfalls of ```float```
* `floats` have limited precision; after arithmetic, the final few decimal places can be wrong in unexpected ways.
* `float`s have limited size, though the limit is huge.

In [47]:
1 + 0.2

1.2

In [48]:
1 + 0.1 + 0.1

1.2000000000000002

In [49]:
2.0 ** 3000

OverflowError: (34, 'Result too large')

### Converting between ```int``` and ```float```
- If you mix `int`s and `float`s in an expression, the result will always be a `float`.
     - Note that when you divide two `int`s, you get a `float` back.
- A value can be explicity **coerced** (i.e. converted) using the ```int``` and ```float``` functions.

In [50]:
2.0 + 3

5.0

In [51]:
12 / 2

6.0

In [52]:
int(12 / 2)

6

In [53]:
int(-2.9)

-2

### Summary

- Expressions evaluate to values. Python will display the value of the last expression in a cell by default.
- Python knows about all of the standard mathematical operators and follows PEMDAS.
- Assignment statements allow us to bind values to variables.
- We can call functions in Python similar to how we call functions in math.
    - Python knows some functions by default, and import statements allow us to bring additional functionality from modules.
- All values in Python have a data type.
    - `int`s and `float`s are numbers.
    - `int`s are integers, while `float`s contain decimal points.

## Strings

### Strings 

- A string is a snippet of text of any length.
- In Python, strings are enclosed by either single quotes or double quotes (doesn't matter which!)

In [54]:
'woof'

'woof'

In [55]:
type('woof')

str

In [56]:
"woof   🐶🐶"

'woof   🐶🐶'

In [57]:
# A string, not an int!
"1998" + "45"

'199845'

### String arithmetic

When using the `+` symbol between two strings, the operation is called "concatenation".

In [58]:
s1 = 'baby'
s2 = '🐼'

In [59]:
s1 + s2

'baby🐼'

In [60]:
s1 + ' ' + s2

'baby 🐼'

In [61]:
s1 * 3 # multiplication is repeated addition, same as s1 + s1 + s1

'babybabybaby'

### String methods
* Associated with strings are special functions, called **string methods**.
* Access string methods with a `.` after the string ("dot notation").    
    * For instance, to use the `upper` method on string `s`, we write `s.upper()`.
* Examples include `upper`, `title`, and `replace`, but there are [many more](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [62]:
my_cool_string = 'data science is super cool!'

In [63]:
my_cool_string.title()

'Data Science Is Super Cool!'

In [64]:
my_cool_string.upper()

'DATA SCIENCE IS SUPER COOL!'

In [65]:
my_cool_string.replace('super cool', '💯' * 3)

'data science is 💯💯💯!'

In [66]:
"hello".upper()

'HELLO'

In [67]:
# len is not a method, since it doesn't use dot notation.
len(my_cool_string)

27

# Lists

## What is a list?

A list is an ordered sequence of values

A list of integers:
- [3, 1, 4, 1, 5, 9]

A list of strings:
- ["Once", "upon", "a", "time", "there"]


Each value has an index
- for [3, 1, 4, 1, 5, 9]

| Index| 0 | 1 | 2| 3 | 4 | 5 |
| ----- | - | - | - | - | - | - |
| List Entry  | 3 | 1 | 4 | 1 | 5 | 9 |


Indexing is zero-based (counting starts with zero):

## Loop Examples

[see in python tutor](https://tinyurl.com/y6a34bpd)

In [68]:
for num in [2, 4, 6]:
    print(num)

2
4
6

In [69]:
for i in [1, 2, 3]:
    print("Hi there!")

Hi there!
Hi there!
Hi there!

In [70]:
for char in "happy": #sequence is a string, NOT a list
    print(char)      #prints the values of sequence

h
a
p
p
y

## The range function

A typical for loop does not use an explicit list:

In the following,
```
for i in range(5):
  … body
```
range(5) produced the numbers in the sequence [0, 1, 2, 3, 4]
 - note that range(5) __is not__ the same as the list [0, 1 ,2, 3, 4]
 - list(range(5)) is equivalent to the list [0, 1, 2, 3, 4]



__Detailed usage (1, 2, or 3 arguments)__

- range(5): cycles through [0, 1, 2, 3, 4] -> __Upper limit (exclusive)__

- range(1, 5): cycles through [1, 2, 3, 4] -> __Lower limit (inclusive)__

- range(1, 10, 2): cycles through [1, 3, 5, 7, 9] -> __step (distance between elements)__

In [71]:
# Getting length of a list
print(len([3,1,4,1,5,9]))

6

## List Operations

What operations should a list support efficiently and conveniently?
- Creation
- Querying
- Modification

## List Creation
- run the following cells from __top to bottom__
- [see in python tutor](https://tinyurl.com/thb52x)

In [72]:
a = [3, 1, 2 * 2, 1, 10 / 2, 10 - 1]
print(a)

[3, 1, 4, 1, 5.0, 9]

In [73]:
b = [5, 3, 'hi']
print(b)

[5, 3, 'hi']

In [74]:
c = [4, 'a', a]
print(c)

[4, 'a', [3, 1, 4, 1, 5.0, 9]]

In [75]:
d = [[1, 2], [3, 4], [5, 6]]
print(d)

[[1, 2], [3, 4], [5, 6]]

## List Querying

Expressions that return parts of lists:


Single element:  		__mylist[index]__

- The single element stored at that location

In [76]:
l = [3,1,4,1,5,9]
print(l[2])

4

Sublist (“slicing”):  	__mylist[start:end]__

- the sublist that starts at *start*

- index start and ends at index *end – 1*

- If start is omitted: defaults to 0

- If end is omitted: defaults to len(mylist)

- mylist[:] and mylist[0:len(mylist)] both evaluate to the whole list

In [77]:
a = [0, 1, 2, 3, 4]
print(a[0])

0

In [78]:
a = [0, 1, 2, 3, 4]
print(a[5])

IndexError: list index out of range

In [79]:
a = [0, 1, 2, 3, 4]
print(a[6])

IndexError: list index out of range

In [80]:
a = [0, 1, 2, 3, 4]
print(a[-1]) # last element in list

4

In [81]:
a = [0, 1, 2, 3, 4]
print(a[-2]) # next to last element

3

In [82]:
a = [0, 1, 2, 3, 4]
print(a[0:2])

[0, 1]

In [83]:
a = [0, 1, 2, 3, 4]
print(a[0:-1])

[0, 1, 2, 3]

## List Modification
- Insertion
- Removal
- Replacement
- Rearrangement

### List insertions
mylist.append(x)

- Extend mylist by inserting x at the end

mylist.extend(L)
- Extend mylist by appending all the items in the argument list L to the end of mylist

ylist.insert(i, x)
- Insert item x before position i.

a.insert(0, x)
- inserts at the front of the list

a.insert(len(a), x)
- is equivalent to    a.append(x)

In [84]:
lst = [1, 2, 3, 4]
lst.append(5)
print(lst)

[1, 2, 3, 4, 5]

In [85]:
lst = [1, 2, 3, 4]
lst.extend([6, 7, 8])
print(lst)

[1, 2, 3, 4, 6, 7, 8]

In [86]:
lst = [1, 2, 3, 4]
lst.insert(3, 3.5)
print(lst)

[1, 2, 3, 3.5, 4]

__Comprehension check__

Which of the following is printed by the code below

- A) 4
- B) 5
- C) 2
- D) [4, 6]
- E) IndexError: list index out of range


```
lst = [1, 3, 5]
lst.insert(2, [4, 6])
print(lst[2])
```

In [87]:
lst = [1, 3, 5]
lst.insert(2, [4, 6])
print(lst[2])

[4, 6]

### List removal

mylist.remove(x)
- Remove the first item from the list whose value is x
- It is an error if there is no such item
- __Returns None__



mylist.pop([i])
- Remove the item at the given position in the list, and return it.
- If no index is given, mylist.pop() removes and returns the last item in the list.
- Notation from the Python Library Reference: *The square brackets around the parameter, “[i]”, means the argument is optional.
It does not mean you should type square brackets at that position.*

In [88]:
#Examples
lst = [1, 2, 3, 4, 5, 6, 7]
print(lst.pop())

7

In [89]:
lst = [1, 2, 3, 4, 5, 6, 7]
print(lst.pop(1))

2

In [90]:
lst = [1, 2, 3, 4, 5, 6, 7]
print(lst.remove(3))

None

In [91]:
lst = [1, 2, 3, 4, 5, 6, 7]
lst.remove(3)
print(lst)

[1, 2, 4, 5, 6, 7]

### List replacement


```
mylist[index] = new_value
mylist[start:end] = new_sublist
```
Replaces mylist[start]  to   mylist[end – 1] with new_sublist


Can change the length of the list

Examples:
```
mylist[start:end] = []
```
removes mylist[start]… mylist[end – 1]
```
mylist[len(mylist):] = L
```
is equivalent to a.extend(L)

In [92]:
#Examples
lst = [1, 2, 3, 4, 5, 6, 7]
lst[3] = 'blue'
print(lst)

[1, 2, 3, 'blue', 5, 6, 7]

In [93]:
lst = [1, 2, 3, 4, 5, 6, 7]
lst[1:3] = [10, 11, 12]
print(lst)

[1, 10, 11, 12, 4, 5, 6, 7]

### List Rearrangement

mylist.sort()
- Sort the items of the list, in place.
- “in place” means by modifying the original list,
not by creating a new list.

mylist.reverse()
- Reverse the elements of the list, in place.

both sort() and reverse() __return none__

In [94]:
#Example
lst = [1, 2, 3, 4, 5, 6, 7]
lst.reverse()
print(lst)
lst.sort()
print(lst)

[7, 6, 5, 4, 3, 2, 1]
[1, 2, 3, 4, 5, 6, 7]

### List modification examples

- [see in python tutor](https://tinyurl.com/z2ktkhf2)

In [95]:
lst = [10, 12, 23, 54, 15]
lst.append(7)
lst.extend([8, 9, 3])
lst.insert(2, 2.75)
lst.remove(3)
print(lst.pop())
print(lst.pop(4))
lst[1:5] = [20, 21, 22]
lst2 = [4, 6, 8, 2, 0]
lst2.sort()
lst2.reverse()
lst3 = lst2
lst4 = lst2[:]
lst2[-1]= 17

print(lst)
print(lst2)
print(lst3)
print(lst4)

9
54
[10, 20, 21, 22, 7, 8]
[8, 6, 4, 2, 17]
[8, 6, 4, 2, 17]
[8, 6, 4, 2, 0]

## List operations comprehension check

1. What will convert list a into [1, 2, 3, 4, 5]

a = [1, 3, 5]

- A. a.insert(1, 2)

    a.insert(2, 4)
- B. a[1:2] = [2, 3, 4]
- C. a.extend([2, 4])
- D. a[1] = 2

     a[3] = 4

## Excercise: List lookup

Goal: implement the following ([see in python tutor](https://tinyurl.com/5dme2skr))

```
def my_index(lst, value):
  """Return the position of the first occurrence
  of value in the list lst. Return None if value
  does not appear in lst."""
```

Examples:

story = ["Once", "upon", "a", "time", "there", "was", "a"]

my_index(story, "a") → 2

my_index(story, "there") → 4

__Note__ :  my_list[my_index(my_list, x)] == x

In [96]:
def my_index(lst, value):
  """Return the position of the first
  occurrence of value in the list lst.
  Return None if value does not appear
  in lst."""

## Exercise:  Convert Units

([see in python tutor](https://tinyurl.com/rccvsf49))

Using the following:

```
def cent_to_fahr(cent):
  return cent / 5.0 * 9 + 32

ctemps = [-40, 0, 20, 37, 100]

ftemps = []
```
Without setting it directly, set ftemps to [-40, 32, 68, 98.6, 212]

## More on list slicing

mylist[startindex:endindex] evaluates to a sublist of the original list
    
  - mylist[index] evaluates to an element of the original list

- Arguments are like those to the range function
mylist[start:end:step]
  - start index is inclusive, end index is exclusive
  - All 3 indices are optional
  - Can assign to a slice:  mylist[s:e] = yourlist

Example ([see in python tutor](https://tinyurl.com/y2cvczn6)):

In [97]:
test_list = ['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']
my_list = test_list[2:]
print(my_list)

['e2', 'e3', 'e4', 'e5', 'e6']

In [98]:
test_list = ['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']
my_list = test_list[:5]
print(my_list)

['e0', 'e1', 'e2', 'e3', 'e4']

In [99]:
test_list = ['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']
my_list = test_list[-1]
print(my_list)

e6

In [100]:
test_list = ['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']
my_list = test_list[-4:]
print(my_list)

['e3', 'e4', 'e5', 'e6']

In [101]:
test_list = ['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']
my_list = test_list[:-3]
print(my_list)

['e0', 'e1', 'e2', 'e3']

In [102]:
test_list = ['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']
my_list = test_list[:]
print(my_list)

['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']

In [103]:
test_list = ['e0', 'e1', 'e2', 'e3', 'e4', 'e5', 'e6']
my_list = test_list[::-1]
print(my_list)

['e6', 'e5', 'e4', 'e3', 'e2', 'e1', 'e0']

__Answer__

test_list[2:]		From e2 to the end of the list

test_list[:5]		From beginning up to (but not including) e5

test_list[-1]		Last element

test_list[-4:]	    Last four elements

test_list[:-3]	    Everything except last three elements

test_list[:]		    Get a copy of the whole list

test_list[::-1]	    Reverse the list

## How to evaluate a list expression

There are two new forms of expression:
- List creation (aka, list literals):   [1, 2, 3, 4]
- List indexing (aka, dereferencing): a[i]

__Note:__ In the previous examples, there are the same tokens “[]” with two distinct meanings

## Evaluating list expressions

[a, b, c, d]		list __creation__
  - To evaluate:
    - evaluate each element to a value, from left to right
    - make a list of the values
  -The elements can be arbitrary values, including lists:
    - ["a", 3, fahr_to_cent(-40), [3 + 4, 5 * 6]]

a[b] 		list __indexing__

a is the list expression, b is the index

- To evaluate:
  - evaluate the list expression to a value
  - evaluate the index expression to a value
  - if the list value is not a list, execution terminates with an error
  - if the element is not in range (not a valid index), execution terminates with an error
  - the value is the given element of the list value (counting from zero)

### List expression examples

What does this mean (or is it an error)? ([see in python tutor](https://tinyurl.com/y5sg98eo))

In [104]:
["Once", "upon", "a", "time", "there"][2]

'a'

In [105]:
["Once", "upon", "a", "time", "there"][0,2,3]

<>:1: SyntaxWarning:

list indices must be integers or slices, not tuple; perhaps you missed a comma?

<>:1: SyntaxWarning:

list indices must be integers or slices, not tuple; perhaps you missed a comma?

C:\Users\sharp\AppData\Local\Temp\ipykernel_25376\2814731184.py:1: SyntaxWarning:

list indices must be integers or slices, not tuple; perhaps you missed a comma?

TypeError: list indices must be integers or slices, not tuple

In [106]:
["Once", "upon", "a", "time", "there"][[0,2,3]]

<>:1: SyntaxWarning:

list indices must be integers or slices, not list; perhaps you missed a comma?

<>:1: SyntaxWarning:

list indices must be integers or slices, not list; perhaps you missed a comma?

C:\Users\sharp\AppData\Local\Temp\ipykernel_25376\256170986.py:1: SyntaxWarning:

list indices must be integers or slices, not list; perhaps you missed a comma?

TypeError: list indices must be integers or slices, not list

In [107]:
["Once", "upon", "a", "time", "there"][[0,2,3][1]]

'a'

## Two dimensional nested lists

Each single element within mylist is __also a list__.

(Remember: a list can contain just about anything.)

In [108]:
mylist = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]

mylist[0] evaluates to a list

In [109]:
mylist = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]
mylist[0]

[1, 2, 3]

mylist[0] is an expression that evaluates to the first item in mylist. This just happens to also be another list expression

mylist[0][0] evaluates to the first element of the first list in the nested list

In [110]:
mylist = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]
mylist[0][0]

1

Note the double square brackets below. Adding a list within a list within a list.

> Add blockquote

In [111]:
mylist = [
  [1, 2, 3],
  [4, 5, 6],
  [7, 8, 9]
]
mylist.append([[10,11,12]])
print(mylist)

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [[10, 11, 12]]]

Recall that items within a list don't have to all be the same type. What will the following do?

In [112]:
mylist[0][0][0]

TypeError: 'int' object is not subscriptable

# Dictionaries

**Dictionaries** are a data structure that allows us to map **keys** to **values**. This is incredibly helpful! However there are some considerations that we must have when using **dictionaries**. We will see these in examples below!

Dictionaries map **keys** to **values**. Lets take a look at this

In [113]:
value1 = 1
value2 = 2
value3 = 3
value4 = 4

# Lets create a dictionary
my_dictionary = {
    "key1": value1,
    "key2": value2,
    "key3": value3,
    "key4": value4
}

The **order** of the keys inside your dictionary does not matter

In [114]:
# Lets make a dictionary with the same contents but different key order
my_dictionary_diff_order = {
    "key3": value3,
    "key2": value2,
    "key1": value1,
    "key4": value4
}

# Lets test if our dictionaries are the same
my_dictionary == my_dictionary_diff_order

True

Let's try having non **unique keys**

In [115]:
# Lets create a dictionary with repeating keys
my_dictionary_rep_keys = {
    "key1": value1,
    "key1": value1,
    "key1": value1,
    "key4": value1
}

The **keys** must be **immutable data types**. **Mutable data types** include: lists, sets, and dictionaries (so don't use these as your keys)! However, **mutable** data types can be used as the values in your dictionary.

In [116]:
# Lets create a dictionary using these guidlines
my_dictionary = {
    "key": [1, 2],
    42: "The answer",
    0: None,
    33.2: 22.3
}

Now that we know a bit about **dictionaries**, lets see what we can do with them. With dictionaries we can **create**, **query** (access), and **modify**. lets take a look at this!

**Creating** a dictionary

In [117]:
d1 = {}
d2 = dict()
# d1 and d2 are now empty dictionaries

favorite_colors = {
    "asfg": "Blue",
    "among": "Blue",
    "paolopan": "yellow",
    "sg721": "green"
}
# favorite_colors is now a dictionary with some inital keys and values

In [118]:
state_capitals = {"GA" : "Atlanta", "WA": "Olympia" }

phonebook = dict()
phonebook["Alice"] = "206-555-4455"
phonebook["Bob"] = "212-555-2211"

atomic_number = {}
atomic_number["H"] = 1
atomic_number["Fe"] = 26
atomic_number["Au"] = 79

**Accessing** a dictionary

In [119]:
atomic_number = {"H": 1, "Fe": 26, "Au": 79}

# Lets print the values contained by the key "Au"
print(atomic_number["Au"])

# What about if we use a key that does not exist in our dictionary?
# print(atomic_number["B"])

# Lets check if the key "Au" is in our dictionary
print("Au" in atomic_number)

# Lets check if the value 26 is in our dictionary
print(26 in atomic_number)

# Lets print the keys of our dictionary
print(atomic_number.keys())
print(list(atomic_number.keys()))

# Lets print the values of our dictionary
print(atomic_number.values())
print(list(atomic_number.values()))

print(list(atomic_number.items()))

79
True
False
dict_keys(['H', 'Fe', 'Au'])
['H', 'Fe', 'Au']
dict_values([1, 26, 79])
[1, 26, 79]
[('H', 1), ('Fe', 26), ('Au', 79)]

**Iterating** through a dictionary

In [120]:
# We will use the atomic_number we had created above

# Print out all the keys: 
for element_name in atomic_number.keys():
    print(element_name)

# Another way to print out all the keys: 
for element_name in atomic_number:
    print(element_name)
    
# Print out all the values: 
for element_number in atomic_number.values():
    print(element_number)

# Print out the keys and the values
for (element_name, element_number) in atomic_number.items():
    print("name:", element_name, "number:", element_number)

H
Fe
Au
H
Fe
Au
1
26
79
name: H number: 1
name: Fe number: 26
name: Au number: 79

**Modifying** a dictionary

In [121]:
# Lets create a new dictionary mapping the species of the pet with the pet names!
pet_names = {
    "Ducks": ["Duckula", "Howard", "Daffy"],
    "Mice": ["Stuart", "Mickey", "Templeton"],
    "Horses": ["Secretariat", "Black Beauty"]
}

# Lets add to our dictionaries mapping
pet_names["Rabbits"] = ["Peter", "Energizer"]

# Now lets changing the mapping of our dictionary
pet_names["Horses"] = ["Misty"] #Change mapping

# Finally, lets remove mapping
del pet_names["Mice"]

Lets work through some **dictionary exercises**

In [122]:
# What do you think this does?
squares = {1: 1, 2: 4, 3: 9, 4: 16}
print(squares[3] + squares[3])
print(squares[3 + 3])
print(squares[2] + squares[2])
print(squares[2 + 2])

18

KeyError: 6

In [123]:
# How about converting a list to a dictionary?
# E.g. Given [5, 6, 7], produce {5: 25, 6: 36, 7: 49}

d = {}
for i in [5, 6, 7]:    # or range(5, 8)
    d[i] = i * i
    
k = {}
for i in d.keys():
     k[d[i]] = i

Aside: A **list** is (kind of) like a **dictionary**

In [124]:
# Lists map integers using an index for each value
mylist = ['a', 'b', 'c']
mylist[3] = 'c'  # error!

IndexError: list assignment index out of range

Lets stop and think...

When is a list **more convenient** to use then a dictionary?

When is a list **less convenient** to use then a dictionary?

Lets dive into the specifics to **keys** for dictionaries

Not every value is allowed to be a **key** in a **dictionary**

Dictionaries hold key: value pairs

as we mentioned earlier, the keys of a dictionary must be **immutable**, however the values in a dictionary can be **anything**.

**Mutable** and **immutable** data types

**Immutable datatypes:**
int, float, boolean, string, function, tuple, frozenset

**Mutable datatypes:**
list, dictionary, set

### Reading data from a file 

- We'll usually work with data stored in the CSV format. CSV stands for "comma-separated values."

- We can read in a CSV using `pd.read_csv(...)`. Replace the `...` with a path to the CSV file relative to your notebook; if the file is in the same folder as your notebook, this is just the name of the file.

In [125]:
# Our CSV file is stored not in the same folder as our notebook, 
# but within a folder called data.
states = pd.read_csv('data/states.csv')
states

,State,Region,Capital City,Population,Land Area,Party
0,Alabama,South,Montgomery,5024279,50645,Republican
1,Alaska,West,Juneau,733391,570641,Republican
2,Arizona,West,Phoenix,7151502,113594,Republican
3,Arkansas,South,Little Rock,3011524,52035,Republican
4,California,West,Sacramento,39538223,155779,Democratic
5,Colorado,West,Denver,5773714,103642,Democratic
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic
7,Delaware,South,Dover,989948,1949,Democratic
8,Florida,South,Tallahassee,21538187,53625,Republican
9,Georgia,South,Atlanta,10711908,57513,Republican
10,Hawaii,West,Honolulu,1455271,6423,Democratic
11,Idaho,West,Boise,1839106,82643,Republican
12,Illinois,Midwest,Springfield,12812508,55519,Democratic
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican
14,Iowa,Midwest,Des Moines,3190369,55857,Republican
15,Kansas,Midwest,Topeka,2937880,81759,Republican
16,Kentucky,South,Frankfort,4505836,39486,Republican
17,Louisiana,South,Baton Rouge,4657757,43204,Republican
18,Maine,Northeast,Augusta,1362359,30843,Democratic
19,Maryland,South,Annapolis,6177224,9707,Democratic
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic
21,Michigan,Midwest,Lansing,10077331,56539,Republican
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic
23,Mississippi,South,Jackson,2961279,46923,Republican
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican
25,Montana,West,Helena,1084225,145546,Republican
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican
27,Nevada,West,Carson City,3104614,109781,Republican
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic
30,New Mexico,West,Santa Fe,2117522,121298,Democratic
31,New York,Northeast,Albany,20201249,47126,Democratic
32,North Carolina,South,Raleigh,10439388,48618,Republican
33,North Dakota,Midwest,Bismarck,779094,69001,Republican
34,Ohio,Midwest,Columbus,11799448,40861,Republican
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican
36,Oregon,West,Salem,4237256,95988,Democratic
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic
39,South Carolina,South,Columbia,5118425,30061,Republican
40,South Dakota,Midwest,Pierre,886667,75811,Republican
41,Tennessee,South,Nashville,6910840,41235,Republican
42,Texas,South,Austin,29145505,261232,Republican
43,Utah,West,Salt Lake City,3271616,82170,Republican
44,Vermont,Northeast,Montpelier,643077,9217,Democratic
45,Virginia,South,Richmond,8631393,39490,Democratic
46,Washington,West,Olympia,7705281,66456,Democratic
47,West Virginia,South,Charleston,1793716,24038,Republican
48,Wisconsin,Midwest,Madison,5893718,54158,Republican
49,Wyoming,West,Cheyenne,576851,97093,Republican

### About the data 🗽

Most of the data is self-explanatory, but there are a few things to note:

- `'Population'` figures come from the 2020 census.

- `'Land Area'` is measured in square miles.

- The `'Region'` column places each state in one of four regions, as determined by the US Census Bureau.

<center>
<img src='images/regions.png' width=600>
</center>

- The `'Party'` column classifies each state as `'Democratic'` or `'Republican'` based on a political science measurement called the Cook Partisan Voter Index. 


<center>
<img src='images/party.png' width=600>
</center>

### Structure of a DataFrame

- DataFrames have *columns* and *rows*.
    - Think of each column as an array. Columns contain data of the same type.
- Each column has a label, e.g. `'Capital City'` and `'Land Area'`.
    - Column labels are stored as strings.
- Each row has a label too – these are shown in bold at the start of the row.
    - Right now, the row labels are 0, 1, 2, and so on.
    - Together, the row labels are called the _index_. The index is **not** a column!

In [126]:
# This DataFrame has 50 rows and 6 columns.
states

,State,Region,Capital City,Population,Land Area,Party
0,Alabama,South,Montgomery,5024279,50645,Republican
1,Alaska,West,Juneau,733391,570641,Republican
2,Arizona,West,Phoenix,7151502,113594,Republican
3,Arkansas,South,Little Rock,3011524,52035,Republican
4,California,West,Sacramento,39538223,155779,Democratic
5,Colorado,West,Denver,5773714,103642,Democratic
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic
7,Delaware,South,Dover,989948,1949,Democratic
8,Florida,South,Tallahassee,21538187,53625,Republican
9,Georgia,South,Atlanta,10711908,57513,Republican
10,Hawaii,West,Honolulu,1455271,6423,Democratic
11,Idaho,West,Boise,1839106,82643,Republican
12,Illinois,Midwest,Springfield,12812508,55519,Democratic
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican
14,Iowa,Midwest,Des Moines,3190369,55857,Republican
15,Kansas,Midwest,Topeka,2937880,81759,Republican
16,Kentucky,South,Frankfort,4505836,39486,Republican
17,Louisiana,South,Baton Rouge,4657757,43204,Republican
18,Maine,Northeast,Augusta,1362359,30843,Democratic
19,Maryland,South,Annapolis,6177224,9707,Democratic
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic
21,Michigan,Midwest,Lansing,10077331,56539,Republican
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic
23,Mississippi,South,Jackson,2961279,46923,Republican
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican
25,Montana,West,Helena,1084225,145546,Republican
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican
27,Nevada,West,Carson City,3104614,109781,Republican
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic
30,New Mexico,West,Santa Fe,2117522,121298,Democratic
31,New York,Northeast,Albany,20201249,47126,Democratic
32,North Carolina,South,Raleigh,10439388,48618,Republican
33,North Dakota,Midwest,Bismarck,779094,69001,Republican
34,Ohio,Midwest,Columbus,11799448,40861,Republican
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican
36,Oregon,West,Salem,4237256,95988,Democratic
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic
39,South Carolina,South,Columbia,5118425,30061,Republican
40,South Dakota,Midwest,Pierre,886667,75811,Republican
41,Tennessee,South,Nashville,6910840,41235,Republican
42,Texas,South,Austin,29145505,261232,Republican
43,Utah,West,Salt Lake City,3271616,82170,Republican
44,Vermont,Northeast,Montpelier,643077,9217,Democratic
45,Virginia,South,Richmond,8631393,39490,Democratic
46,Washington,West,Olympia,7705281,66456,Democratic
47,West Virginia,South,Charleston,1793716,24038,Republican
48,Wisconsin,Midwest,Madison,5893718,54158,Republican
49,Wyoming,West,Cheyenne,576851,97093,Republican

## Example 1: Population density

**Key concepts**: Accessing columns, performing calculations with them, and adding new columns.

### Finding population density

**Question**: What is the population density of each state, in people per square mile?

In [127]:
states

,State,Region,Capital City,Population,Land Area,Party
0,Alabama,South,Montgomery,5024279,50645,Republican
1,Alaska,West,Juneau,733391,570641,Republican
2,Arizona,West,Phoenix,7151502,113594,Republican
3,Arkansas,South,Little Rock,3011524,52035,Republican
4,California,West,Sacramento,39538223,155779,Democratic
5,Colorado,West,Denver,5773714,103642,Democratic
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic
7,Delaware,South,Dover,989948,1949,Democratic
8,Florida,South,Tallahassee,21538187,53625,Republican
9,Georgia,South,Atlanta,10711908,57513,Republican
10,Hawaii,West,Honolulu,1455271,6423,Democratic
11,Idaho,West,Boise,1839106,82643,Republican
12,Illinois,Midwest,Springfield,12812508,55519,Democratic
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican
14,Iowa,Midwest,Des Moines,3190369,55857,Republican
15,Kansas,Midwest,Topeka,2937880,81759,Republican
16,Kentucky,South,Frankfort,4505836,39486,Republican
17,Louisiana,South,Baton Rouge,4657757,43204,Republican
18,Maine,Northeast,Augusta,1362359,30843,Democratic
19,Maryland,South,Annapolis,6177224,9707,Democratic
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic
21,Michigan,Midwest,Lansing,10077331,56539,Republican
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic
23,Mississippi,South,Jackson,2961279,46923,Republican
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican
25,Montana,West,Helena,1084225,145546,Republican
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican
27,Nevada,West,Carson City,3104614,109781,Republican
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic
30,New Mexico,West,Santa Fe,2117522,121298,Democratic
31,New York,Northeast,Albany,20201249,47126,Democratic
32,North Carolina,South,Raleigh,10439388,48618,Republican
33,North Dakota,Midwest,Bismarck,779094,69001,Republican
34,Ohio,Midwest,Columbus,11799448,40861,Republican
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican
36,Oregon,West,Salem,4237256,95988,Democratic
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic
39,South Carolina,South,Columbia,5118425,30061,Republican
40,South Dakota,Midwest,Pierre,886667,75811,Republican
41,Tennessee,South,Nashville,6910840,41235,Republican
42,Texas,South,Austin,29145505,261232,Republican
43,Utah,West,Salt Lake City,3271616,82170,Republican
44,Vermont,Northeast,Montpelier,643077,9217,Democratic
45,Virginia,South,Richmond,8631393,39490,Democratic
46,Washington,West,Olympia,7705281,66456,Democratic
47,West Virginia,South,Charleston,1793716,24038,Republican
48,Wisconsin,Midwest,Madison,5893718,54158,Republican
49,Wyoming,West,Cheyenne,576851,97093,Republican

- We have, separately, the population and land area of each state.

- Steps:
    - Get the `'Population'` column.
    - Get the `'Land Area'` column.
    - Divide these columns element-wise.
    - Add a new column to the DataFrame with these results.

#### Step 1 – Getting the `'Population'` column

- We can get a column from a DataFrame using `.get(column_name)`.
- Column names are case sensitive!
- Column names are strings, so we need to use quotes.
- The result looks like a 1-column DataFrame, but is actually a *Series*.

In [128]:
states

,State,Region,Capital City,Population,Land Area,Party
0,Alabama,South,Montgomery,5024279,50645,Republican
1,Alaska,West,Juneau,733391,570641,Republican
2,Arizona,West,Phoenix,7151502,113594,Republican
3,Arkansas,South,Little Rock,3011524,52035,Republican
4,California,West,Sacramento,39538223,155779,Democratic
5,Colorado,West,Denver,5773714,103642,Democratic
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic
7,Delaware,South,Dover,989948,1949,Democratic
8,Florida,South,Tallahassee,21538187,53625,Republican
9,Georgia,South,Atlanta,10711908,57513,Republican
10,Hawaii,West,Honolulu,1455271,6423,Democratic
11,Idaho,West,Boise,1839106,82643,Republican
12,Illinois,Midwest,Springfield,12812508,55519,Democratic
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican
14,Iowa,Midwest,Des Moines,3190369,55857,Republican
15,Kansas,Midwest,Topeka,2937880,81759,Republican
16,Kentucky,South,Frankfort,4505836,39486,Republican
17,Louisiana,South,Baton Rouge,4657757,43204,Republican
18,Maine,Northeast,Augusta,1362359,30843,Democratic
19,Maryland,South,Annapolis,6177224,9707,Democratic
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic
21,Michigan,Midwest,Lansing,10077331,56539,Republican
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic
23,Mississippi,South,Jackson,2961279,46923,Republican
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican
25,Montana,West,Helena,1084225,145546,Republican
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican
27,Nevada,West,Carson City,3104614,109781,Republican
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic
30,New Mexico,West,Santa Fe,2117522,121298,Democratic
31,New York,Northeast,Albany,20201249,47126,Democratic
32,North Carolina,South,Raleigh,10439388,48618,Republican
33,North Dakota,Midwest,Bismarck,779094,69001,Republican
34,Ohio,Midwest,Columbus,11799448,40861,Republican
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican
36,Oregon,West,Salem,4237256,95988,Democratic
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic
39,South Carolina,South,Columbia,5118425,30061,Republican
40,South Dakota,Midwest,Pierre,886667,75811,Republican
41,Tennessee,South,Nashville,6910840,41235,Republican
42,Texas,South,Austin,29145505,261232,Republican
43,Utah,West,Salt Lake City,3271616,82170,Republican
44,Vermont,Northeast,Montpelier,643077,9217,Democratic
45,Virginia,South,Richmond,8631393,39490,Democratic
46,Washington,West,Olympia,7705281,66456,Democratic
47,West Virginia,South,Charleston,1793716,24038,Republican
48,Wisconsin,Midwest,Madison,5893718,54158,Republican
49,Wyoming,West,Cheyenne,576851,97093,Republican

In [129]:
states.get('Population')

0      5024279
1       733391
2      7151502
3      3011524
4     39538223
5      5773714
6      3605944
7       989948
8     21538187
9     10711908
10     1455271
11     1839106
12    12812508
13     6785528
14     3190369
15     2937880
16     4505836
17     4657757
18     1362359
19     6177224
20     7029917
21    10077331
22     5706494
23     2961279
24     6154913
25     1084225
26     1961504
27     3104614
28     1377529
29     9288994
30     2117522
31    20201249
32    10439388
33      779094
34    11799448
35     3959353
36     4237256
37    13002700
38     1097379
39     5118425
40      886667
41     6910840
42    29145505
43     3271616
44      643077
45     8631393
46     7705281
47     1793716
48     5893718
49      576851
Name: Population, dtype: int64

### Digression: Series

- A *Series* is like an array, but with an index.
- In particular, Series support arithmetic, just like arrays.

In [130]:
states.get('Population')

0      5024279
1       733391
2      7151502
3      3011524
4     39538223
5      5773714
6      3605944
7       989948
8     21538187
9     10711908
10     1455271
11     1839106
12    12812508
13     6785528
14     3190369
15     2937880
16     4505836
17     4657757
18     1362359
19     6177224
20     7029917
21    10077331
22     5706494
23     2961279
24     6154913
25     1084225
26     1961504
27     3104614
28     1377529
29     9288994
30     2117522
31    20201249
32    10439388
33      779094
34    11799448
35     3959353
36     4237256
37    13002700
38     1097379
39     5118425
40      886667
41     6910840
42    29145505
43     3271616
44      643077
45     8631393
46     7705281
47     1793716
48     5893718
49      576851
Name: Population, dtype: int64

In [131]:
type(states.get('Population'))

pandas.core.series.Series

#### Steps 2 and 3 – Getting the `'Land Area'` column and dividing element-wise

In [132]:
states.get('Land Area')

0      50645
1     570641
2     113594
3      52035
4     155779
5     103642
6       4842
7       1949
8      53625
9      57513
10      6423
11     82643
12     55519
13     35826
14     55857
15     81759
16     39486
17     43204
18     30843
19      9707
20      7800
21     56539
22     79627
23     46923
24     68742
25    145546
26     76824
27    109781
28      8953
29      7354
30    121298
31     47126
32     48618
33     69001
34     40861
35     68595
36     95988
37     44743
38      1034
39     30061
40     75811
41     41235
42    261232
43     82170
44      9217
45     39490
46     66456
47     24038
48     54158
49     97093
Name: Land Area, dtype: int64

- Just like with arrays, we can perform arithmetic operations with two Series, as long as they have the same length and same index. 
- Operations happen element-wise (by matching up corresponding index values), and the result is also a Series.

In [133]:
states.get('Population') / states.get('Land Area')

0       99.205825
1        1.285206
2       62.956688
3       57.874969
4      253.809711
5       55.708246
6      744.722016
7      507.926116
8      401.644513
9      186.251943
10     226.571851
11      22.253621
12     230.776995
13     189.402334
14      57.116727
15      35.933414
16     114.112242
17     107.808467
18      44.170768
19     636.367982
20     901.271410
21     178.236810
22      71.665315
23      63.109328
24      89.536426
25       7.449363
26      25.532438
27      28.280067
28     153.862281
29    1263.121295
30      17.457188
31     428.664623
32     214.722695
33      11.291054
34     288.770417
35      57.720723
36      44.143601
37     290.608587
38    1061.294971
39     170.267955
40      11.695757
41     167.596459
42     111.569429
43      39.815212
44      69.770750
45     218.571613
46     115.945603
47      74.620018
48     108.824513
49       5.941221
dtype: float64

#### Step 4 – Adding the densities to the DataFrame as a new column

- Use `.assign(name_of_column=data_in_series)` to assign a Series (or array, or list) to a DataFrame.
- Don't put quotes around `name_of_column`.
- This creates a new DataFrame, which we must save to a variable if we want to keep using it.

In [134]:
states.assign(
    Density=states.get('Population') / states.get('Land Area')
)

,State,Region,Capital City,Population,Land Area,Party,Density
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
1,Alaska,West,Juneau,733391,570641,Republican,1.285206
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
25,Montana,West,Helena,1084225,145546,Republican,7.449363
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
42,Texas,South,Austin,29145505,261232,Republican,111.569429
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221

In [135]:
states

,State,Region,Capital City,Population,Land Area,Party
0,Alabama,South,Montgomery,5024279,50645,Republican
1,Alaska,West,Juneau,733391,570641,Republican
2,Arizona,West,Phoenix,7151502,113594,Republican
3,Arkansas,South,Little Rock,3011524,52035,Republican
4,California,West,Sacramento,39538223,155779,Democratic
5,Colorado,West,Denver,5773714,103642,Democratic
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic
7,Delaware,South,Dover,989948,1949,Democratic
8,Florida,South,Tallahassee,21538187,53625,Republican
9,Georgia,South,Atlanta,10711908,57513,Republican
10,Hawaii,West,Honolulu,1455271,6423,Democratic
11,Idaho,West,Boise,1839106,82643,Republican
12,Illinois,Midwest,Springfield,12812508,55519,Democratic
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican
14,Iowa,Midwest,Des Moines,3190369,55857,Republican
15,Kansas,Midwest,Topeka,2937880,81759,Republican
16,Kentucky,South,Frankfort,4505836,39486,Republican
17,Louisiana,South,Baton Rouge,4657757,43204,Republican
18,Maine,Northeast,Augusta,1362359,30843,Democratic
19,Maryland,South,Annapolis,6177224,9707,Democratic
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic
21,Michigan,Midwest,Lansing,10077331,56539,Republican
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic
23,Mississippi,South,Jackson,2961279,46923,Republican
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican
25,Montana,West,Helena,1084225,145546,Republican
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican
27,Nevada,West,Carson City,3104614,109781,Republican
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic
30,New Mexico,West,Santa Fe,2117522,121298,Democratic
31,New York,Northeast,Albany,20201249,47126,Democratic
32,North Carolina,South,Raleigh,10439388,48618,Republican
33,North Dakota,Midwest,Bismarck,779094,69001,Republican
34,Ohio,Midwest,Columbus,11799448,40861,Republican
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican
36,Oregon,West,Salem,4237256,95988,Democratic
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic
39,South Carolina,South,Columbia,5118425,30061,Republican
40,South Dakota,Midwest,Pierre,886667,75811,Republican
41,Tennessee,South,Nashville,6910840,41235,Republican
42,Texas,South,Austin,29145505,261232,Republican
43,Utah,West,Salt Lake City,3271616,82170,Republican
44,Vermont,Northeast,Montpelier,643077,9217,Democratic
45,Virginia,South,Richmond,8631393,39490,Democratic
46,Washington,West,Olympia,7705281,66456,Democratic
47,West Virginia,South,Charleston,1793716,24038,Republican
48,Wisconsin,Midwest,Madison,5893718,54158,Republican
49,Wyoming,West,Cheyenne,576851,97093,Republican

In [136]:
states = states.assign(
    Density=states.get('Population') / states.get('Land Area')
)
states

,State,Region,Capital City,Population,Land Area,Party,Density
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
1,Alaska,West,Juneau,733391,570641,Republican,1.285206
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
25,Montana,West,Helena,1084225,145546,Republican,7.449363
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
42,Texas,South,Austin,29145505,261232,Republican,111.569429
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221

## Example 2: Exploring population density
**Key concept**: Computing statistics of columns using Series methods.

### Questions

- What is the highest population density of any one state? 
- What is the average population density across all states?

Series, like arrays, have helpful methods, including `.min()`, `.max()`, and `.mean()`.

In [137]:
states.get('Density').max()

np.float64(1263.1212945335872)

What state does this correspond to? We'll see how to find out shortly!

Other statistics:

In [138]:
states.get('Density').min()

np.float64(1.2852055845969708)

In [139]:
states.get('Density').mean()

np.float64(206.54513507096468)

In [140]:
states.get('Density').median()

np.float64(108.31649013462203)

In [141]:
# Lots of information at once!
states.get('Density').describe()

count      50.000000
mean      206.545135
std       274.928867
min         1.285206
25%        47.055137
50%       108.316490
75%       224.571792
max      1263.121295
Name: Density, dtype: float64

## Example 3: *Which* state has the highest population density?

**Key concepts**: Sorting. Accessing using integer positions.

#### Step 1  – Sorting the DataFrame

- Use the `.sort_values(by=column_name)` method to sort.
    - The `by=` can be omitted, but helps with readability.
- Like most DataFrame methods, this returns a new DataFrame.

In [142]:
states.sort_values(by='Density')

,State,Region,Capital City,Population,Land Area,Party,Density
1,Alaska,West,Juneau,733391,570641,Republican,1.285206
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221
25,Montana,West,Helena,1084225,145546,Republican,7.449363
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
42,Texas,South,Austin,29145505,261232,Republican,111.569429
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295

This sorts, but in ascending order (small to large). The opposite would be nice!

#### Step 1 – Sorting the DataFrame in *descending* order

- Use `.sort_values(by=column_name, ascending=False)` to sort in *descending* order.
- `ascending` is an optional argument. If omitted, it will be set to `True` by default.
    - This is an example of a *keyword argument*, or a *named argument*.
    - If we want to specify the sorting order, we **must** use the keyword `ascending=`.

In [143]:
ordered_states = states.sort_values(by='Density', ascending=False)
ordered_states

,State,Region,Capital City,Population,Land Area,Party,Density
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
42,Texas,South,Austin,29145505,261232,Republican,111.569429
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
25,Montana,West,Helena,1084225,145546,Republican,7.449363
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221
1,Alaska,West,Juneau,733391,570641,Republican,1.285206

In [144]:
# We must specify the role of False by using ascending=, 
# otherwise Python does not know how to interpret this.
states.sort_values(by='Density', False)

SyntaxError: positional argument follows keyword argument (2563070448.py, line 3)

#### Step 2 – Extracting the state name

- We saw that the most densely populated state is New Jersey, but how do we extract that information using code?
- First, grab an entire column as a Series.
- Navigate to a particular entry of the Series using `.iloc[integer_position]`.
    - `iloc` stands for "integer location" and is used to count the rows, starting at 0.

In [145]:
ordered_states

,State,Region,Capital City,Population,Land Area,Party,Density
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
42,Texas,South,Austin,29145505,261232,Republican,111.569429
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
25,Montana,West,Helena,1084225,145546,Republican,7.449363
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221
1,Alaska,West,Juneau,733391,570641,Republican,1.285206

In [146]:
ordered_states.get('State')

29        New Jersey
38      Rhode Island
20     Massachusetts
6        Connecticut
19          Maryland
7           Delaware
31          New York
8            Florida
37      Pennsylvania
34              Ohio
4         California
12          Illinois
10            Hawaii
45          Virginia
32    North Carolina
13           Indiana
9            Georgia
21          Michigan
39    South Carolina
41         Tennessee
28     New Hampshire
46        Washington
16          Kentucky
42             Texas
48         Wisconsin
17         Louisiana
0            Alabama
24          Missouri
47     West Virginia
22         Minnesota
44           Vermont
23       Mississippi
2            Arizona
3           Arkansas
35          Oklahoma
14              Iowa
5           Colorado
18             Maine
36            Oregon
43              Utah
15            Kansas
27            Nevada
26          Nebraska
11             Idaho
30        New Mexico
40      South Dakota
33      North Dakota
25           Montana
49           Wyoming
1             Alaska
Name: State, dtype: object

In [147]:
# We want the first entry of the Series, which is at "integer location" 0.
ordered_states.get('State').iloc[0]

'New Jersey'

- The row label that goes with New Jersey is 29, because our original data was alphabetized by state and New Jersey is the 30th state alphabetically. But we **don't use the row label** when accessing with `iloc`; we use the integer position counting from the top.

- If we try to use the row label (29) with `iloc`, we get the state with the 30th highest population density, which is **not** New Jersey.

In [148]:
ordered_states.get('State').iloc[29]

'Minnesota'

## Example 4: What is the population density of Pennsylvania?

**Key concepts**: Setting the index. Accessing using row labels.

### Population density of Pennsylvania

We know how to get the `'Density'` of all states. How do we find the one that corresponds to Pennsylvania?

In [149]:
states

,State,Region,Capital City,Population,Land Area,Party,Density
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
1,Alaska,West,Juneau,733391,570641,Republican,1.285206
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
25,Montana,West,Helena,1084225,145546,Republican,7.449363
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
42,Texas,South,Austin,29145505,261232,Republican,111.569429
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221

In [150]:
# Which one is Pennsylvania?
states.get('Density')

0       99.205825
1        1.285206
2       62.956688
3       57.874969
4      253.809711
5       55.708246
6      744.722016
7      507.926116
8      401.644513
9      186.251943
10     226.571851
11      22.253621
12     230.776995
13     189.402334
14      57.116727
15      35.933414
16     114.112242
17     107.808467
18      44.170768
19     636.367982
20     901.271410
21     178.236810
22      71.665315
23      63.109328
24      89.536426
25       7.449363
26      25.532438
27      28.280067
28     153.862281
29    1263.121295
30      17.457188
31     428.664623
32     214.722695
33      11.291054
34     288.770417
35      57.720723
36      44.143601
37     290.608587
38    1061.294971
39     170.267955
40      11.695757
41     167.596459
42     111.569429
43      39.815212
44      69.770750
45     218.571613
46     115.945603
47      74.620018
48     108.824513
49       5.941221
Name: Density, dtype: float64

### Utilizing the index

- When we load in a DataFrame from a CSV, columns have meaningful names, but rows do not.

In [151]:
pd.read_csv('data/states.csv')

,State,Region,Capital City,Population,Land Area,Party
0,Alabama,South,Montgomery,5024279,50645,Republican
1,Alaska,West,Juneau,733391,570641,Republican
2,Arizona,West,Phoenix,7151502,113594,Republican
3,Arkansas,South,Little Rock,3011524,52035,Republican
4,California,West,Sacramento,39538223,155779,Democratic
5,Colorado,West,Denver,5773714,103642,Democratic
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic
7,Delaware,South,Dover,989948,1949,Democratic
8,Florida,South,Tallahassee,21538187,53625,Republican
9,Georgia,South,Atlanta,10711908,57513,Republican
10,Hawaii,West,Honolulu,1455271,6423,Democratic
11,Idaho,West,Boise,1839106,82643,Republican
12,Illinois,Midwest,Springfield,12812508,55519,Democratic
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican
14,Iowa,Midwest,Des Moines,3190369,55857,Republican
15,Kansas,Midwest,Topeka,2937880,81759,Republican
16,Kentucky,South,Frankfort,4505836,39486,Republican
17,Louisiana,South,Baton Rouge,4657757,43204,Republican
18,Maine,Northeast,Augusta,1362359,30843,Democratic
19,Maryland,South,Annapolis,6177224,9707,Democratic
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic
21,Michigan,Midwest,Lansing,10077331,56539,Republican
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic
23,Mississippi,South,Jackson,2961279,46923,Republican
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican
25,Montana,West,Helena,1084225,145546,Republican
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican
27,Nevada,West,Carson City,3104614,109781,Republican
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic
30,New Mexico,West,Santa Fe,2117522,121298,Democratic
31,New York,Northeast,Albany,20201249,47126,Democratic
32,North Carolina,South,Raleigh,10439388,48618,Republican
33,North Dakota,Midwest,Bismarck,779094,69001,Republican
34,Ohio,Midwest,Columbus,11799448,40861,Republican
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican
36,Oregon,West,Salem,4237256,95988,Democratic
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic
39,South Carolina,South,Columbia,5118425,30061,Republican
40,South Dakota,Midwest,Pierre,886667,75811,Republican
41,Tennessee,South,Nashville,6910840,41235,Republican
42,Texas,South,Austin,29145505,261232,Republican
43,Utah,West,Salt Lake City,3271616,82170,Republican
44,Vermont,Northeast,Montpelier,643077,9217,Democratic
45,Virginia,South,Richmond,8631393,39490,Democratic
46,Washington,West,Olympia,7705281,66456,Democratic
47,West Virginia,South,Charleston,1793716,24038,Republican
48,Wisconsin,Midwest,Madison,5893718,54158,Republican
49,Wyoming,West,Cheyenne,576851,97093,Republican

- The row labels (or the *index*) are how we refer to specific rows. Instead of using numbers, let's refer to these rows by the names of the states they correspond to.

- This way, we can easily identify, for example, which row corresponds to Pennsylvania.

### Setting the index

- To change the index, use `.set_index(column_name)`.
- Row labels should be unique identifiers.
    - Each row should have a different, descriptive name that corresponds to the contents of that row's data.

In [152]:
states

,State,Region,Capital City,Population,Land Area,Party,Density
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
1,Alaska,West,Juneau,733391,570641,Republican,1.285206
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
25,Montana,West,Helena,1084225,145546,Republican,7.449363
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
42,Texas,South,Austin,29145505,261232,Republican,111.569429
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221

In [153]:
states.set_index('State')

,Region,Capital City,Population,Land Area,Party,Density
State,,,,,,
Alabama,South,Montgomery,5024279,50645,Republican,99.205825
Alaska,West,Juneau,733391,570641,Republican,1.285206
Arizona,West,Phoenix,7151502,113594,Republican,62.956688
Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
California,West,Sacramento,39538223,155779,Democratic,253.809711
Colorado,West,Denver,5773714,103642,Democratic,55.708246
Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
Delaware,South,Dover,989948,1949,Democratic,507.926116
Florida,South,Tallahassee,21538187,53625,Republican,401.644513
Georgia,South,Atlanta,10711908,57513,Republican,186.251943
Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
Idaho,West,Boise,1839106,82643,Republican,22.253621
Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
Mississippi,South,Jackson,2961279,46923,Republican,63.109328
Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
Montana,West,Helena,1084225,145546,Republican,7.449363
Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
Nevada,West,Carson City,3104614,109781,Republican,28.280067
New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
New York,Northeast,Albany,20201249,47126,Democratic,428.664623
North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
Oregon,West,Salem,4237256,95988,Democratic,44.143601
Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
South Carolina,South,Columbia,5118425,30061,Republican,170.267955
South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
Tennessee,South,Nashville,6910840,41235,Republican,167.596459
Texas,South,Austin,29145505,261232,Republican,111.569429
Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
Virginia,South,Richmond,8631393,39490,Democratic,218.571613
Washington,West,Olympia,7705281,66456,Democratic,115.945603
West Virginia,South,Charleston,1793716,24038,Republican,74.620018
Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
Wyoming,West,Cheyenne,576851,97093,Republican,5.941221

- Now there is one fewer column. When you set the index, a column becomes the index, and the old index disappears.

- 🚨 Like most DataFrame methods, `.set_index` returns a new DataFrame; it does not modify the original DataFrame.

In [154]:
states

,State,Region,Capital City,Population,Land Area,Party,Density
0,Alabama,South,Montgomery,5024279,50645,Republican,99.205825
1,Alaska,West,Juneau,733391,570641,Republican,1.285206
2,Arizona,West,Phoenix,7151502,113594,Republican,62.956688
3,Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
4,California,West,Sacramento,39538223,155779,Democratic,253.809711
5,Colorado,West,Denver,5773714,103642,Democratic,55.708246
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
7,Delaware,South,Dover,989948,1949,Democratic,507.926116
8,Florida,South,Tallahassee,21538187,53625,Republican,401.644513
9,Georgia,South,Atlanta,10711908,57513,Republican,186.251943
10,Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
11,Idaho,West,Boise,1839106,82643,Republican,22.253621
12,Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
14,Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
15,Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
16,Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
17,Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
18,Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
19,Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
21,Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
23,Mississippi,South,Jackson,2961279,46923,Republican,63.109328
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
25,Montana,West,Helena,1084225,145546,Republican,7.449363
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
27,Nevada,West,Carson City,3104614,109781,Republican,28.280067
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
30,New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
31,New York,Northeast,Albany,20201249,47126,Democratic,428.664623
32,North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
33,North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
34,Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
36,Oregon,West,Salem,4237256,95988,Democratic,44.143601
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
39,South Carolina,South,Columbia,5118425,30061,Republican,170.267955
40,South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
41,Tennessee,South,Nashville,6910840,41235,Republican,167.596459
42,Texas,South,Austin,29145505,261232,Republican,111.569429
43,Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
44,Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
45,Virginia,South,Richmond,8631393,39490,Democratic,218.571613
46,Washington,West,Olympia,7705281,66456,Democratic,115.945603
47,West Virginia,South,Charleston,1793716,24038,Republican,74.620018
48,Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
49,Wyoming,West,Cheyenne,576851,97093,Republican,5.941221

In [155]:
states = states.set_index('State')
states

,Region,Capital City,Population,Land Area,Party,Density
State,,,,,,
Alabama,South,Montgomery,5024279,50645,Republican,99.205825
Alaska,West,Juneau,733391,570641,Republican,1.285206
Arizona,West,Phoenix,7151502,113594,Republican,62.956688
Arkansas,South,Little Rock,3011524,52035,Republican,57.874969
California,West,Sacramento,39538223,155779,Democratic,253.809711
Colorado,West,Denver,5773714,103642,Democratic,55.708246
Connecticut,Northeast,Hartford,3605944,4842,Democratic,744.722016
Delaware,South,Dover,989948,1949,Democratic,507.926116
Florida,South,Tallahassee,21538187,53625,Republican,401.644513
Georgia,South,Atlanta,10711908,57513,Republican,186.251943
Hawaii,West,Honolulu,1455271,6423,Democratic,226.571851
Idaho,West,Boise,1839106,82643,Republican,22.253621
Illinois,Midwest,Springfield,12812508,55519,Democratic,230.776995
Indiana,Midwest,Indianapolis,6785528,35826,Republican,189.402334
Iowa,Midwest,Des Moines,3190369,55857,Republican,57.116727
Kansas,Midwest,Topeka,2937880,81759,Republican,35.933414
Kentucky,South,Frankfort,4505836,39486,Republican,114.112242
Louisiana,South,Baton Rouge,4657757,43204,Republican,107.808467
Maine,Northeast,Augusta,1362359,30843,Democratic,44.170768
Maryland,South,Annapolis,6177224,9707,Democratic,636.367982
Massachusetts,Northeast,Boston,7029917,7800,Democratic,901.271410
Michigan,Midwest,Lansing,10077331,56539,Republican,178.236810
Minnesota,Midwest,Saint Paul,5706494,79627,Democratic,71.665315
Mississippi,South,Jackson,2961279,46923,Republican,63.109328
Missouri,Midwest,Jefferson City,6154913,68742,Republican,89.536426
Montana,West,Helena,1084225,145546,Republican,7.449363
Nebraska,Midwest,Lincoln,1961504,76824,Republican,25.532438
Nevada,West,Carson City,3104614,109781,Republican,28.280067
New Hampshire,Northeast,Concord,1377529,8953,Democratic,153.862281
New Jersey,Northeast,Trenton,9288994,7354,Democratic,1263.121295
New Mexico,West,Santa Fe,2117522,121298,Democratic,17.457188
New York,Northeast,Albany,20201249,47126,Democratic,428.664623
North Carolina,South,Raleigh,10439388,48618,Republican,214.722695
North Dakota,Midwest,Bismarck,779094,69001,Republican,11.291054
Ohio,Midwest,Columbus,11799448,40861,Republican,288.770417
Oklahoma,South,Oklahoma City,3959353,68595,Republican,57.720723
Oregon,West,Salem,4237256,95988,Democratic,44.143601
Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican,290.608587
Rhode Island,Northeast,Providence,1097379,1034,Democratic,1061.294971
South Carolina,South,Columbia,5118425,30061,Republican,170.267955
South Dakota,Midwest,Pierre,886667,75811,Republican,11.695757
Tennessee,South,Nashville,6910840,41235,Republican,167.596459
Texas,South,Austin,29145505,261232,Republican,111.569429
Utah,West,Salt Lake City,3271616,82170,Republican,39.815212
Vermont,Northeast,Montpelier,643077,9217,Democratic,69.770750
Virginia,South,Richmond,8631393,39490,Democratic,218.571613
Washington,West,Olympia,7705281,66456,Democratic,115.945603
West Virginia,South,Charleston,1793716,24038,Republican,74.620018
Wisconsin,Midwest,Madison,5893718,54158,Republican,108.824513
Wyoming,West,Cheyenne,576851,97093,Republican,5.941221

In [156]:
# Which one is Pennsylvania? The one whose row label is "Pennsylvania"!
states.get('Density')

State
Alabama             99.205825
Alaska               1.285206
Arizona             62.956688
Arkansas            57.874969
California         253.809711
Colorado            55.708246
Connecticut        744.722016
Delaware           507.926116
Florida            401.644513
Georgia            186.251943
Hawaii             226.571851
Idaho               22.253621
Illinois           230.776995
Indiana            189.402334
Iowa                57.116727
Kansas              35.933414
Kentucky           114.112242
Louisiana          107.808467
Maine               44.170768
Maryland           636.367982
Massachusetts      901.271410
Michigan           178.236810
Minnesota           71.665315
Mississippi         63.109328
Missouri            89.536426
Montana              7.449363
Nebraska            25.532438
Nevada              28.280067
New Hampshire      153.862281
New Jersey        1263.121295
New Mexico          17.457188
New York           428.664623
North Carolina     214.722695
North Dakota        11.291054
Ohio               288.770417
Oklahoma            57.720723
Oregon              44.143601
Pennsylvania       290.608587
Rhode Island      1061.294971
South Carolina     170.267955
South Dakota        11.695757
Tennessee          167.596459
Texas              111.569429
Utah                39.815212
Vermont             69.770750
Virginia           218.571613
Washington         115.945603
West Virginia       74.620018
Wisconsin          108.824513
Wyoming              5.941221
Name: Density, dtype: float64

### Accessing using the row label

To pull out one particular entry of a DataFrame corresponding to a row and column with certain labels:
1. Use `.get(column_name)` to extract the entire column as a Series.
2. Use `.loc[]` to access the element of a Series with a particular row label.

In this class, we'll always first access a column, then a row (but row, then column is also possible).

In [157]:
states.get('Density')

State
Alabama             99.205825
Alaska               1.285206
Arizona             62.956688
Arkansas            57.874969
California         253.809711
Colorado            55.708246
Connecticut        744.722016
Delaware           507.926116
Florida            401.644513
Georgia            186.251943
Hawaii             226.571851
Idaho               22.253621
Illinois           230.776995
Indiana            189.402334
Iowa                57.116727
Kansas              35.933414
Kentucky           114.112242
Louisiana          107.808467
Maine               44.170768
Maryland           636.367982
Massachusetts      901.271410
Michigan           178.236810
Minnesota           71.665315
Mississippi         63.109328
Missouri            89.536426
Montana              7.449363
Nebraska            25.532438
Nevada              28.280067
New Hampshire      153.862281
New Jersey        1263.121295
New Mexico          17.457188
New York           428.664623
North Carolina     214.722695
North Dakota        11.291054
Ohio               288.770417
Oklahoma            57.720723
Oregon              44.143601
Pennsylvania       290.608587
Rhode Island      1061.294971
South Carolina     170.267955
South Dakota        11.695757
Tennessee          167.596459
Texas              111.569429
Utah                39.815212
Vermont             69.770750
Virginia           218.571613
Washington         115.945603
West Virginia       74.620018
Wisconsin          108.824513
Wyoming              5.941221
Name: Density, dtype: float64

In [158]:
states.get('Density').loc['Pennsylvania']

np.float64(290.60858681804973)

### Summary: Accessing elements of a DataFrame

- First, `.get` the appropriate column as a Series.
- Then, use one of two ways to access an element of a Series:
    - `.iloc[]` uses the integer position.
    - `.loc[]` uses the row label.
    - Each is best for different scenarios.

In [159]:
states.get('Density')

State
Alabama             99.205825
Alaska               1.285206
Arizona             62.956688
Arkansas            57.874969
California         253.809711
Colorado            55.708246
Connecticut        744.722016
Delaware           507.926116
Florida            401.644513
Georgia            186.251943
Hawaii             226.571851
Idaho               22.253621
Illinois           230.776995
Indiana            189.402334
Iowa                57.116727
Kansas              35.933414
Kentucky           114.112242
Louisiana          107.808467
Maine               44.170768
Maryland           636.367982
Massachusetts      901.271410
Michigan           178.236810
Minnesota           71.665315
Mississippi         63.109328
Missouri            89.536426
Montana              7.449363
Nebraska            25.532438
Nevada              28.280067
New Hampshire      153.862281
New Jersey        1263.121295
New Mexico          17.457188
New York           428.664623
North Carolina     214.722695
North Dakota        11.291054
Ohio               288.770417
Oklahoma            57.720723
Oregon              44.143601
Pennsylvania       290.608587
Rhode Island      1061.294971
South Carolina     170.267955
South Dakota        11.695757
Tennessee          167.596459
Texas              111.569429
Utah                39.815212
Vermont             69.770750
Virginia           218.571613
Washington         115.945603
West Virginia       74.620018
Wisconsin          108.824513
Wyoming              5.941221
Name: Density, dtype: float64

In [160]:
states.get('Density').iloc[4]

np.float64(253.80971119342146)

In [161]:
states.get('Density').loc['California']

np.float64(253.80971119342146)

### Note

- Sometimes the integer position and row label are the same.
- This happens by default with `pd.read_csv`.

In [162]:
pd.read_csv('data/states.csv')

,State,Region,Capital City,Population,Land Area,Party
0,Alabama,South,Montgomery,5024279,50645,Republican
1,Alaska,West,Juneau,733391,570641,Republican
2,Arizona,West,Phoenix,7151502,113594,Republican
3,Arkansas,South,Little Rock,3011524,52035,Republican
4,California,West,Sacramento,39538223,155779,Democratic
5,Colorado,West,Denver,5773714,103642,Democratic
6,Connecticut,Northeast,Hartford,3605944,4842,Democratic
7,Delaware,South,Dover,989948,1949,Democratic
8,Florida,South,Tallahassee,21538187,53625,Republican
9,Georgia,South,Atlanta,10711908,57513,Republican
10,Hawaii,West,Honolulu,1455271,6423,Democratic
11,Idaho,West,Boise,1839106,82643,Republican
12,Illinois,Midwest,Springfield,12812508,55519,Democratic
13,Indiana,Midwest,Indianapolis,6785528,35826,Republican
14,Iowa,Midwest,Des Moines,3190369,55857,Republican
15,Kansas,Midwest,Topeka,2937880,81759,Republican
16,Kentucky,South,Frankfort,4505836,39486,Republican
17,Louisiana,South,Baton Rouge,4657757,43204,Republican
18,Maine,Northeast,Augusta,1362359,30843,Democratic
19,Maryland,South,Annapolis,6177224,9707,Democratic
20,Massachusetts,Northeast,Boston,7029917,7800,Democratic
21,Michigan,Midwest,Lansing,10077331,56539,Republican
22,Minnesota,Midwest,Saint Paul,5706494,79627,Democratic
23,Mississippi,South,Jackson,2961279,46923,Republican
24,Missouri,Midwest,Jefferson City,6154913,68742,Republican
25,Montana,West,Helena,1084225,145546,Republican
26,Nebraska,Midwest,Lincoln,1961504,76824,Republican
27,Nevada,West,Carson City,3104614,109781,Republican
28,New Hampshire,Northeast,Concord,1377529,8953,Democratic
29,New Jersey,Northeast,Trenton,9288994,7354,Democratic
30,New Mexico,West,Santa Fe,2117522,121298,Democratic
31,New York,Northeast,Albany,20201249,47126,Democratic
32,North Carolina,South,Raleigh,10439388,48618,Republican
33,North Dakota,Midwest,Bismarck,779094,69001,Republican
34,Ohio,Midwest,Columbus,11799448,40861,Republican
35,Oklahoma,South,Oklahoma City,3959353,68595,Republican
36,Oregon,West,Salem,4237256,95988,Democratic
37,Pennsylvania,Northeast,Harrisburg,13002700,44743,Republican
38,Rhode Island,Northeast,Providence,1097379,1034,Democratic
39,South Carolina,South,Columbia,5118425,30061,Republican
40,South Dakota,Midwest,Pierre,886667,75811,Republican
41,Tennessee,South,Nashville,6910840,41235,Republican
42,Texas,South,Austin,29145505,261232,Republican
43,Utah,West,Salt Lake City,3271616,82170,Republican
44,Vermont,Northeast,Montpelier,643077,9217,Democratic
45,Virginia,South,Richmond,8631393,39490,Democratic
46,Washington,West,Olympia,7705281,66456,Democratic
47,West Virginia,South,Charleston,1793716,24038,Republican
48,Wisconsin,Midwest,Madison,5893718,54158,Republican
49,Wyoming,West,Cheyenne,576851,97093,Republican

In [163]:
pd.read_csv('data/states.csv').get('Capital City').loc[35]

'Oklahoma City'

In [164]:
pd.read_csv('data/states.csv').get('Capital City').iloc[35]

'Oklahoma City'